.color-white {
  color:#fff
}
.color-black {
  color:#000
}
.color-lightgray {
  color:#ccc
}
.color-red {
  color:#db2e2d
}
.color-text {
  color:#333
}
.color-link {
  color:#e54847
}
.color-orange {
  color:#ff9334
}
@font-face {
  font-family:myfont;
  src:url(/bs/file/?f=myfe/canary:fonts/myfont-f208c932.eot#iefix);
  src:url(/bs/file/?f=myfe/canary:fonts/myfont-f208c932.eot#iefix#iefix) format('eot'), url(/bs/file/?f=myfe/canary:fonts/myfont-a23eb580.woff) format('woff'), url(/bs/file/?f=myfe/canary:fonts/myfont-fba057ea.ttf) format('truetype'), url(/bs/file/?f=myfe/canary:fonts/myfont-f208c932.eot#iefix) format('embedded-opentype');
  font-weight:400;
  font-style:normal
}
.icon {
  font-size:1em;
  line-height:1em;
  display:inline;
  vertical-align:middle
}
.icon:before {
  line-height:1;
  display:inline-block;
  font-family:myfont;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.icon-lg {
  font-size:1.33333333em;
  line-height:.75em;
  vertical-align:-15%
}
.icon-2x {
  font-size:2em
}
.icon-3x {
  font-size:3em
}
.icon-4x {
  font-size:4em
}
.icon-5x {
  font-size:5em
}
.icon-fw {
  width:1.28571429em;
  text-align:center
}
.icon-rotate-30:before {
  -webkit-transform:rotate(30deg);
  transform:rotate(30deg)
}
.icon-rotate-60:before {
  -webkit-transform:rotate(60deg);
  transform:rotate(60deg)
}
.icon-rotate-90:before {
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg)
}
.icon-rotate-180:before {
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg)
}
.icon-rotate-270:before {
  -webkit-transform:rotate(270deg);
  transform:rotate(270deg)
}
.icon-writeanswer:before {
  content:"\EA47"
}
.icon-vip:before {
  content:"\EA46"
}
.icon-venus:before {
  content:"\EA45"
}
.icon-v5:before {
  content:"\EA44"
}
.icon-v4:before {
  content:"\EA43"
}
.icon-v3:before {
  content:"\EA42"
}
.icon-v2:before {
  content:"\EA41"
}
.icon-v1:before {
  content:"\EA40"
}
.icon-ugc-raise:before {
  content:"\EA3F"
}
.icon-ugc-fall:before {
  content:"\EA3E"
}
.icon-timer:before {
  content:"\EA3D"
}
.icon-ticket:before {
  content:"\EA3C"
}
.icon-success:before {
  content:"\EA3B"
}
.icon-star-v2:before {
  content:"\EA3A"
}
.icon-star-half2:before {
  content:"\EA39"
}
.icon-signal:before {
  content:"\EA38"
}
.icon-share:before {
  content:"\EA37"
}
.icon-seat:before {
  content:"\EA36"
}
.icon-rules:before {
  content:"\EA35"
}
.icon-right-ticket:before {
  content:"\EA34"
}
.icon-right-rest:before {
  content:"\EA33"
}
.icon-remove:before {
  content:"\EA32"
}
.icon-remove-sign:before {
  content:"\EA31"
}
.icon-remove-narrow:before {
  content:"\EA30"
}
.icon-remove-circle:before {
  content:"\EA2F"
}
.icon-play-video:before {
  content:"\EA2E"
}
.icon-phone:before {
  content:"\EA2D"
}
.icon-paper:before {
  content:"\EA2C"
}
.icon-ok:before {
  content:"\EA2B"
}
.icon-ok-sign2:before {
  content:"\EA2A"
}
.icon-ok-sign:before {
  content:"\EA29"
}
.icon-ok-circle:before {
  content:"\EA28"
}
.icon-music:before {
  content:"\EA27"
}
.icon-movie:before {
  content:"\EA26"
}
.icon-mars:before {
  content:"\EA25"
}
.icon-local:before {
  content:"\EA24"
}
.icon-highlights:before {
  content:"\EA23"
}
.icon-heart:before {
  content:"\EA22"
}
.icon-heart-empty:before {
  content:"\EA21"
}
.icon-hand:before {
  content:"\EA20"
}
.icon-fail:before {
  content:"\EA1F"
}
.icon-eye:before {
  content:"\EA1E"
}
.icon-edit:before {
  content:"\EA1D"
}
.icon-delete:before {
  content:"\EA1C"
}
.icon-comment:before {
  content:"\EA1B"
}
.icon-collect-tag:before {
  content:"\EA1A"
}
.icon-close:before {
  content:"\EA19"
}
.icon-chevron-up:before {
  content:"\EA18"
}
.icon-chevron-right:before {
  content:"\EA17"
}
.icon-chevron-left:before {
  content:"\EA16"
}
.icon-chevron-down:before {
  content:"\EA15"
}
.icon-caret-up:before {
  content:"\EA14"
}
.icon-caret-right:before {
  content:"\EA13"
}
.icon-caret-left:before {
  content:"\EA12"
}
.icon-caret-down:before {
  content:"\EA11"
}
.icon-badge:before {
  content:"\EA10"
}
.icon-arrow-thin-left:before {
  content:"\EA0F"
}
.icon-arrow-right:before {
  content:"\EA0E"
}
.icon-arrow-down:before {
  content:"\EA0D"
}
.icon-arrow-down-radius:before {
  content:"\EA0C"
}
.icon-arrow-double:before {
  content:"\EA0B"
}
.icon-approved:before {
  content:"\EA0A"
}
.icon-approve:before {
  content:"\EA09"
}
.icon-angle-up:before {
  content:"\EA08"
}
.icon-angle-right:before {
  content:"\EA07"
}
.icon-angle-left:before {
  content:"\EA06"
}
.icon-angle-down:before {
  content:"\EA05"
}
.icon-alert:before {
  content:"\EA04"
}
.icon-add2:before {
  content:"\EA03"
}
.icon-add:before {
  content:"\EA02"
}
.icon-abc:before {
  content:"\EA01"
}
.icon-replay:before {
  content:"\91CD"
}
.icon-pause:before {
  content:"\6682"
}
.icon-play-circle:before {
  content:"\64AD"
}
.icon-home:before {
  content:"\5BB6"
}
.icon-fullscreen:before {
  content:"\5168"
}
.icon-star-half:before {
  content:"\2736"
}
.icon-star-o:before {
  content:"\2606"
}
.icon-star:before {
  content:"\2605"
}
.icon-approved {
  font-size:1.1em
}
html {
  font-size:50px
}
@media (min-width:414px) {
  html {
      font-size:51.5px
  }
}
@media (max-width:375px) {
  html {
      font-size:50px
  }
}
@media (max-width:360px) {
  html {
      font-size:45px
  }
}
@media (max-width:320px) {
  html {
      font-size:42px
  }
}
body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-touch-action:manipulation;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  -webkit-tap-highlight-color:rgba(255, 255, 255, 0);
  -webkit-overflow-scrolling:touch;
  width:100%;
  overflow-x:hidden;
  background:#f4f4f4;
  font:14px/1.5 Arial, Helvetica, sans-serif
}
body input, body textarea {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none
}
.download {
  display:none
}
section.section-block {
  background:#fff;
  border-top:1px solid #efefef;
  border-bottom:1px solid #efefef
}
section.section-block+section.section-block {
  margin-top:.2rem
}
section.section-block h3 {
  font-size:.3rem;
  margin:0;
  padding:.3rem;
  line-height:1;
  border-bottom:1px solid #efefef;
  font-weight:400
}
section.section-block h3 a {
  color:#333;
  font-weight:lighter
}
section.section-block h3 a span {
  margin-right:.15rem
}
section.section-block h3 a .icon {
  display:inline-block
}
@media (min-width:500px) {
  body {
      background:#333
  }
  #app {
      margin:auto;
      width:18%;
      min-width:430px;
      box-shadow:0 0 2rem #000
  }
  .layout {
      background:#efefef
  }
  .layout .download {
      display:none
  }
}
.one-px-border-both, .one-px-border-bottom, .one-px-border-top {
  position:relative
}
.one-px-border-both:before, .one-px-border-top:before {
  content:" ";
  z-index:99;
  position:absolute;
  left:0;
  top:0;
  right:0;
  height:1px;
  border-top:1px solid #dcdcdc;
  color:#dcdcdc;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-transform:scaleY(.5);
  transform:scaleY(.5)
}
.one-px-border-both:after, .one-px-border-bottom:after {
  content:" ";
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  height:1px;
  border-bottom:1px solid #dcdcdc;
  color:#dcdcdc;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform:scaleY(.5);
  transform:scaleY(.5)
}
.cat-notice-list {
  position:absolute!important;
  min-width:inherit!important;
  top:100px!important;
  width:4rem;
  background-color:#333;
  color:#fff;
  left:50%;
  margin-left:-2.1rem;
  text-align:center;
  border-radius:4px;
  opacity:.9
}
img, legend {
  border:0
}
.cat-notice-list .cat-alert {
  padding:.3rem .2rem!important
}
legend, td, th {
  padding:0
}
.cat-notice-list .close {
  display:none
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body {
  margin:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display:block
}
audio, canvas, progress, video {
  display:inline-block;
  vertical-align:baseline
}
audio:not([controls]) {
  display:none;
  height:0
}
.maoyan .banner, .maoyan .download, .maoyan .footer, .maoyan .navbar, .maoyan .navload, [hidden], template {
  display:none
}
.dianping .banner, .dianping .download, .dianping .footer, .dianping .navbar, .dianping .navload, .dpmweb .banner, .dpmweb .download, .dpmweb .footer, .dpmweb .navload {
  display:none!important
}
a {
  background-color:transparent
}
a:active, a:hover {
  outline:0
}
abbr[title] {
  border-bottom:1px dotted
}
b, optgroup, strong {
  font-weight:700
}
dfn {
  font-style:italic
}
h1 {
  font-size:2em;
  margin:.67em 0
}
mark {
  background:#ff0;
  color:#000
}
small {
  font-size:80%
}
sub, sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
sup {
  top:-.5em
}
sub {
  bottom:-.25em
}
svg:not(:root) {
  overflow:hidden
}
figure {
  margin:1em 40px
}
hr {
  box-sizing:content-box;
  height:0
}
pre, textarea {
  overflow:auto
}
code, kbd, pre, samp {
  font-family:monospace, monospace;
  font-size:1em
}
button, input, optgroup, select, textarea {
  color:inherit;
  font:inherit;
  margin:0
}
button {
  overflow:visible
}
button, select {
  text-transform:none
}
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance:button;
  cursor:pointer
}
button[disabled], html input[disabled] {
  cursor:default
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border:0;
  padding:0
}
input {
  line-height:normal
}
input[type=checkbox], input[type=radio] {
  box-sizing:border-box;
  padding:0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height:auto
}
input[type=search] {
  -webkit-appearance:textfield;
  box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance:none
}
fieldset {
  border:1px solid silver;
  margin:0 2px;
  padding:.35em .625em .75em
}
table {
  border-collapse:collapse;
  border-spacing:0
}
.maoyan .link-color {
  color:#e54847
}
.maoyan .card-activation .protol .checkbox, .maoyan .detail .cinema-list .cinema-item .buy-link, .maoyan .my-checkbox, .maoyan .my-counter button, .maoyan .tabs-active {
  color:#e54847;
  border-color:#e54847
}
.dianping .btn {
  background:#f63
}
.dianping .card-activation .protol .checkbox, .dianping .detail .cinema-list .cinema-item .buy-link, .dianping .my-checkbox, .dianping .my-counter button, .dianping .tabs-active {
  color:#f63;
  border-color:#f63
}
.dianping .card-activation .protol a, .dianping .detail .card-activation .sub .price strong, .dianping .link-color {
  color:#f63
}
.dianping .list .no-card .btn {
  color:#666;
  border-color:#ccc
}
.dpmweb .navbar {
  display:block;
  background-color:#f63!important
}
.imeituan .banner, .imeituan .download, .imeituan .footer, .imeituan .navload, .meituan .banner, .meituan .download, .meituan .footer, .meituan .navbar, .meituan .navload, .mmweb .banner, .mmweb .download, .mmweb .footer, .mmweb .navbar, .mmweb .navload {
  display:none!important
}
.dpmweb .btn {
  background:#f63
}
.dpmweb .card-activation .protol .checkbox, .dpmweb .detail .cinema-list .cinema-item .buy-link, .dpmweb .my-checkbox, .dpmweb .my-counter button, .dpmweb .tabs-active {
  color:#f63;
  border-color:#f63
}
.dpmweb .card-activation .protol a, .dpmweb .detail .card-activation .sub .price strong, .dpmweb .link-color {
  color:#f63
}
.dpmweb .list .no-card .btn {
  color:#666;
  border-color:#ccc
}
.mmweb .btn {
  background:#EF4238
}
.mmweb .card-activation .protol .checkbox, .mmweb .detail .cinema-list .cinema-item .buy-link {
  color:#EF4238;
  border-color:#EF4238
}
.mmweb .card-activation .protol a, .mmweb .detail .card-activation .sub .price strong {
  color:#EF4238
}
.mmweb .list .no-card .btn {
  color:#666;
  border-color:#ccc
}
.meituan .btn {
  background:#f90
}
.meituan .card-activation .protol .checkbox, .meituan .detail .cinema-list .cinema-item .buy-link, .meituan .my-checkbox, .meituan .my-counter button, .meituan .tabs-active {
  color:#06c1ae;
  border-color:#06c1ae
}
.meituan .card-activation .protol a, .meituan .detail .card-activation .sub .price strong, .meituan .link-color {
  color:#06c1ae
}
.meituan .list .no-card .btn {
  color:#666;
  border-color:#ccc
}
.meituan .tab li.active {
  border-bottom-color:#06c1ae
}
.imeituan .navbar {
  display:block;
  background-color:#06c1ae!important
}
.daxiang .navbar, .mypptv .banner, .mypptv .footer, .mypptv .navbar, .samsung .banner, .samsung .btn-download, .samsung .navload, .taobao .navbar, .weibo .navbar {
  display:none
}
.imeituan .btn {
  background:#f90
}
.imeituan .card-activation .protol .checkbox, .imeituan .detail .cinema-list .cinema-item .buy-link, .imeituan .my-checkbox, .imeituan .my-counter button, .imeituan .tabs-active {
  color:#06c1ae;
  border-color:#06c1ae
}
.imeituan .card-activation .protol a, .imeituan .detail .card-activation .sub .price strong, .imeituan .link-color {
  color:#06c1ae
}
.imeituan .list .no-card .btn {
  color:#666;
  border-color:#ccc
}
.imeituan .tab li.active {
  border-bottom-color:#06c1ae
}
.samsung .navbar-btn {
  background:0 0
}
.samsung nav>ul>li:nth-child(4) {
  display:none
}
.moviepro .banner, .moviepro .download, .moviepro .footer, .moviepro .navbar, .moviepro .navload {
  display:none!important
}
.moviepro .page-information .comments, .moviepro .page-reply .reply-comment .movie {
  display:none
}
.gewara .banner, .gewara .download, .gewara .footer, .gewara .navbar, .gewara .navload {
  display:none!important
}
.gewara .btn {
  background:#FF5200
}
.gewara .card-activation .protol .checkbox, .gewara .detail .cinema-list .cinema-item .buy-link, .gewara .my-checkbox, .gewara .my-counter button, .gewara .tabs-active {
  color:#FF5200;
  border-color:#FF5200
}
.gewara .card-activation .protol a, .gewara .detail .card-activation .sub .price strong, .gewara .link-color {
  color:#FF5200
}
.gewara .list .no-card .btn {
  color:#666;
  border-color:#ccc
}
.toutiao .banner, .toutiao .footer, .toutiao .navload {
  display:none
}
.toutiao .navbar {
  display:-webkit-box!important
}
.clearfix:after {
  clear:both
}
.clearfix:after, .clearfix:before {
  content:" ";
  display:table
}
.pull-left {
  float:left
}
.pull-right {
  float:right
}
.text-ellipsis {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden
}
.text-left {
  text-align:left
}
.text-center {
  text-align:center
}
.text-right {
  text-align:right
}
.table-cell {
  display:table
}
.table-cell .cell {
  display:table-cell
}
.hide {
  display:none!important
}
.pos-fixed {
  position:fixed
}
.pos-static {
  position:static
}
.pos-abs {
  position:absolute
}
.wechat .navbar {
  display:none
}